@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mb-43 {
    margin-bottom: 43px;
}

.bg-grey {
    background-color: #F7F7F7;
}

.box1 {
    width: 480px;
    height: 340px;
    border-radius: 20px;
    border-radius: 20px;
    background: var(--White, #FFF);
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
    padding: 70px 0px 0px 30px;
}

.mb-36 {
    margin-bottom: 36px;
}

button.disabled{
    cursor: not-allowed;
    background: grey;
    opacity: 0.5;
}

.add-btn {
    color: #128DFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 35px;
    border-radius: 4px;
    border: 1px solid #128DFF;
    background-color: #fff;
}

.save-btn {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 49px;
    border-radius: 4px;
    background: linear-gradient(97deg, #128DFF -4.95%, #1444EF 109.04%);
    border: 1px solid transparent;
}

.head {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.main-head {
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

h4 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}

p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.reset-btn {
    top: 40px;
    right: 40px;
}

.reset {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;   
    padding: 5px 13px;
    border-radius: 4px;
    background: linear-gradient(97deg, #128DFF -4.95%, #1444EF 109.04%);
    border: 1px solid transparent;
}